NODE_ENV=development
SWAGGER_ENABLED=true

JWT_SECRET=Secret123!

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_NAME=trade2db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=Password123!

PGADMIN_EMAIL=postgres@email.com
PGADMIN_PASSWORD=Password123!

MINIO_BUCKET=trade2
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=Password123!
